body {
    font-style: italic;
    background-color: rgb(210, 210, 223);
}
.img-thumbnail {
    width: 200px;
    height: auto;
    margin-left: 40%;
}

h1 {
   margin-top: 20px;
}
#app{
   font-size: larger;
   margin-left: 42%;
   margin-top: 10px;
   display: flex;

}
button {
    color: rgb(255, 255, 255);
    display: block;
    width: 200px;
    height: 50px;
    background-color: rgb(243, 36, 36);
    border-radius: 1%;
    box-shadow: 3px 4px;
}
input {
    width: 200px;
    height: 30px;
    display: block;
    margin-left: 42%;
    margin-top: 10px;

}
#saludar{
    margin-left: 52%;
}