body {
    background-color: rgb(210, 210, 223);
    
}
#app{
   font-size: larger;
   margin-left: 42%;
   margin-top: 20px;
   display: flex;

}
button {
    color: rgb(134, 17, 17);
    display: block;
    width: 210px;
    height: 40px;
    background-color: rgb(243, 36, 36);
    border: 5px solid gray;

   
    
}
input {
    width: 200px;
    height: 30px;
    display: block;
    margin-left: 42%;
    margin-top: 20px;
    border: 5px solid gray;
   

}
